<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.java.restaurant.dao.mapper.RestaurantMapper">

	<insert id="boardInsert"
		parameterType="com.java.restaurant.dto.RestaurnatDto">
		INSERT INTO Restaurant VALUES('RT'|| Restaurant_RTnumber_seq.nextval,
		#{RTname}, #{RTtype}, #{RTaddress}, #{RTpostalcode},
		#{RTcallnumber1}, #{RTcallnumber2}, #{RTcallnumber3}, #{RTlatitude},
		#{RTlongitude}, #{RTintroduce}, #{RTcount}, #{RTIname}, #{RTIsize}, #{RTIpath})
	</insert>

	<select id="boardCount" resultType="int">
		SELECT COUNT(*) FROM Restaurant
	</select>

	<select id="boardCounttype" parameterType="String"
		resultType="int">
		SELECT COUNT(*) FROM Restaurant WHERE RTtype = #{rTtype}
	</select>



	<select id="boardList" parameterType="java.util.HashMap"
		resultType="com.java.restaurant.dto.RestaurnatDto">
  	<![CDATA[
	  	SELECT * FROM
				(SELECT ROWNUM rnum, a.* FROM 
				(SELECT * FROM restaurant) a) b 
		WHERE b.rnum >=#{startRow} AND b.rnum <=#{endRow}
		]]>
	</select>

	<select id="boardListtype" parameterType="java.util.HashMap"
		resultType="com.java.restaurant.dto.RestaurnatDto">
  	<![CDATA[
	  	SELECT * FROM
				(SELECT ROWNUM rnum, a.* FROM 
				(SELECT * FROM restaurant WHERE RTtype = #{rTtype}) a) b 
		WHERE b.rnum >=#{startRow} AND b.rnum <=#{endRow}
		]]>
	</select>


	<select id="boardRead" parameterType="String"
		resultType="com.java.restaurant.dto.RestaurnatDto">
		SELECT * FROM restaurant WHERE RTnumber=#{RTnumber}
	</select>

	<update id="boardReadCount" parameterType="String">
		UPDATE restaurant SET RTcount=RTcount+1 WHERE RTnumber=#{RTnumber}
	</update>

	<update id="restaurantUpdate"
		parameterType="com.java.restaurant.dto.RestaurnatDto">
		UPDATE restaurant SET RTname=#{RTname}, RTtype=#{RTtype},
		RTaddress=#{RTaddress}, RTpostalcode=#{RTpostalcode},
		RTcallnumber1=#{RTcallnumber1}, RTcallnumber2=#{RTcallnumber2},
		RTcallnumber3=#{RTcallnumber3}, RTlatitude=#{RTlatitude},
		RTlongitude=#{RTlongitude}, RTintroduce=#{RTintroduce},
		RTIname=#{RTIname}, RTIsize=#{RTIsize}, RTIpath=#{RTIpath} WHERE
		RTnumber=#{RTnumber}
	</update>

	<update id="restaurantUpdate2"
		parameterType="com.java.restaurant.dto.RestaurnatDto">
		UPDATE restaurant SET RTname=#{RTname}, RTtype=#{RTtype},
		RTaddress=#{RTaddress}, RTpostalcode=#{RTpostalcode},
		RTcallnumber1=#{RTcallnumber1}, RTcallnumber2=#{RTcallnumber2},
		RTcallnumber3=#{RTcallnumber3}, RTlatitude=#{RTlatitude},
		RTlongitude=#{RTlongitude} WHERE RTnumber=#{RTnumber}
	</update>

	<update id="boardupdate"
		parameterType="com.java.restaurant.dto.RestaurnatDto">
		UPDATE restaurant SET email=#{email}, subject=#{subject},
		content=#{content},file_name=#{fileName},path=#{path},file_size=#{fileSize}
		WHERE RTnumber=#{RTnumber}
	</update>

	<delete id="boardDelete" parameterType="String">
		DELETE FROM Restaurant WHERE RTnumber = #{RTnumber}
	</delete>

	<select id="selectrestaurant" parameterType="String"
		resultType="com.java.restaurant.dto.RestaurnatDto">
		SELECT * FROM Restaurant WHERE RTnumber = #{parameter}
	</select>
	<delete id="Bdelete" parameterType="String">
		DELETE FROM BOOKMARK WHERE RTnumber = #{RTnumber}
	</delete>
	<delete id="Cdelete" parameterType="String">
		DELETE FROM Comments WHERE RTnumber = #{RTnumber}
	</delete>
	<delete id="Rdelete" parameterType="String">
		DELETE FROM Review WHERE RTnumber = #{RTnumber}
	</delete>
	<delete id="CMdelete" parameterType="String">
		DELETE FROM Community WHERE RTnumber = #{RTnumber}
	</delete>
	<delete id="BMdelete" parameterType="String">
		DELETE FROM BOOKMARK WHERE RTnumber = #{RTnumber}
	</delete>
	<!-- <select id="boardCount" resultType="int"> SELECT COUNT(*) FROM board 
		</select> <select id="boardList" parameterType="java.util." resultMap="boardDto"> 
		<![CDATA[ SELECT * FROM (SELECT ROWNUM rnum, a.* FROM (SELECT * FROM board 
		ORDER BY group_number DESC, sequence_number ASC) a) b WHERE b.rnum >=#{startRow} 
		AND b.rnum <=#{endRow} ]]> </select> <update id="boardReadCount" parameterType="int"> 
		UPDATE board SET read_count=read_count+1 WHERE board_number=#{boardNumber} 
		</update> <select id="boardRead" parameterType="int" resultMap="boardDto"> 
		SELECT * FROM board WHERE board_number=#{boardNumber} </select> <delete id="boardDelete" 
		parameterType="java.util.HashMap"> DELETE FROM board WHERE board_number=#{boardNumber} 
		AND password=#{password} </delete> <update id="boardUpdate" parameterType="com.java.board.dto.BoardDto"> 
		UPDATE board SET email=#{email}, subject=#{subject}, content=#{content} WHERE 
		board_number=#{boardNumber} </update> -->
</mapper>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  