<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
  <mapper namespace="com.java.restaurant.dao.mapper.RestaurantMapper">
  	
  <insert id="boardInsert" parameterType="com.java.restaurant.dto.RestaurnatDto">
	  	INSERT INTO Restaurant VALUES('RT'|| Restaurant_RTnumber_seq.nextval, #{RTname}, #{RTtype}, #{RTaddress}, #{RTpostalcode},
		            #{RTcallnumber1}, #{RTcallnumber2}, #{RTcallnumber3}, #{RTlatitude},
		            #{RTlongitude}, #{RTintroduce}, #{RTcount})
  </insert>
  	
  
  	<!--
  	<select id="boardCount" resultType="int">
  		SELECT COUNT(*) FROM board
  	</select>
  	
  	 
  	
  	<select id="boardList" parameterType="java.util.HashMap" resultMap="boardDto">
  		<![CDATA[
	  		SELECT * FROM
						(SELECT ROWNUM rnum, a.* FROM 
								(SELECT * FROM board ORDER BY group_number DESC, sequence_number ASC) a) b 
			WHERE b.rnum >=#{startRow} AND b.rnum <=#{endRow}
		]]>
  	</select>
  	
  	<update id="boardReadCount" parameterType="int">
  		UPDATE board SET read_count=read_count+1 WHERE board_number=#{boardNumber}
  	</update>
  	
  	<select id="boardRead" parameterType="int" resultMap="boardDto">
  		SELECT * FROM board WHERE board_number=#{boardNumber}
  	</select>
  	
  	<delete id="boardDelete" parameterType="java.util.HashMap">
  		DELETE FROM board 
  		WHERE board_number=#{boardNumber} AND password=#{password}
  	</delete>
  	
  	<update id="boardUpdate" parameterType="com.java.board.dto.BoardDto">
  		UPDATE board SET email=#{email}, subject=#{subject}, content=#{content}
  		WHERE board_number=#{boardNumber}
  	</update>
  	-->
  </mapper>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  